@media screen and (min-width: 552px) {


    .sidebar {
        width: 14.375rem;
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .sidebar ul li img.desktop {
        width: 11.25rem;
        height: 5rem;
    }

    .sidebar ul li span {
        color: #717171;
        font-weight: lighter;
        margin-left: .625rem;
        display: inline;
    }

    .sidebar .navigation {
        flex-grow: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .sidebar .navigation .header-playlist h2,
    .sidebar .navigation .header-playlist strong{
        font-size: 1rem;
    }

    .sidebar .playlist-name{
        flex-grow: 1;
        overflow: auto;
        font-size: .875rem;
    }

    .sidebar ul li.home {
        margin: 0 -0.625rem;
        border-left: .1875rem solid #adff2f;
    }

    .sidebar ul li.home img{
        margin-left: 7px;
    }

    .sidebar .navigation .header-playlist h2,
    .sidebar .navigation .header-playlist strong {
        padding-bottom: .625rem;
    }

    .sidebar .navigation h2 {
        color: white;
    }

    .sidebar .navigation .playlist-name ul {
        list-style: none;
    }

    .sidebar .navigation .playlist-name ul li {
        color: gray;
        font-weight: lighter;
        padding-bottom: .625rem;
    }

    .sidebar .navigation strong i {
        background-color: gray;
        color: black;
        font-size: 1.25rem;
        padding: .625rem;
        margin-right: .3125rem;
        margin-bottom: .625rem;
    }

    .sidebar .navigation strong {
        color: gray;
    }
}