/*
--------
Reset
--------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
---------
Common
---------
*/

.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.desktop {
    display: none;
}

.mobile {
    display: block;
}

/*
--------
Header
--------
*/

header {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header .container {
    height: 5.625rem;
}

header .container button {
    border: .0625rem solid white;
    padding: .9375rem 2.1875rem;
    border-radius: 2.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    margin-right: .625rem;
}

/*
------
Main
------
*/

main{
    max-height: calc(100vh - 90px);
}

.sidebar{
    background-color: black;
    height: calc(100vh - 90px);
    padding: .625rem;
    width: 3.125rem;
}

.sidebar ul li img {
    width: 1.875rem;
    margin-bottom: .625rem;
    vertical-align: middle;
}

.sidebar ul li img.mobile {
    width: 1.875rem;
}

.main-menu {
    background-color: #141922;
    padding: 1.25rem;
    overflow: auto;
    height: calc(100vh - 90px);
}

.main-menu div ul {
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2.8125rem;
    gap: 1.25rem;
    padding-top: 90px;
}

.main-menu div ul li {
    color: gray;
    text-align: center;
    font-size: .8125rem;
}

.song h2 {
    margin-left: .625rem;
    color: white;
    margin-bottom: 2.1875rem;
    margin-top: 2.1875rem;
}

.col {
    width: calc(100% / 2);
    padding: .625rem;
    text-align: center;
    font-size: .8125rem;
}

.col div img {
    width: 100%;
    margin-bottom: 1.25rem;
}

.col h3 {
    color: white;
}

.song strong {
    color: gray;
    font-size: .625rem;
}

.col div img.einaudi,
.col div img.lana {
    border-radius: 50%;
    object-fit: cover;
}

/*
---------
Footer
---------
*/

footer {
    background-color: #282828;
    position: absolute;
    width: 100%;
}

footer .left div img {
    height: 1.875rem;
    width: 1.875rem;
    margin-left: .3125rem;
}

footer .left .desctiption-song {
    color: white;
    line-height: .75rem;
    margin-left: .625rem;
    font-size: .75rem;
}

footer .left .fa-regular {
    color: gray;
    margin-left: 1.25rem;
}

footer .center {
    width: 50%;
    margin: 0 1.25rem;
}

footer .left,
footer .right {
    width: 20%;
}

footer .center div .fa-solid {
    font-size: 1.25rem;
    color: white;
    padding: .9375rem .9375rem 0 .9375rem;
}

footer .center div .fa-regular {
    font-size: 2.1875rem;
    color: white;
    padding: .625rem;
}

footer .center .progress-bar {
    height: .25rem;
    appearance: none;
    width: 100%;
    margin: .125rem;
    border-radius: .5rem;
    background-color: #5e5e5e;
    justify-content: center;
}

footer .center .container-p-b {
    align-items: center;
    padding-bottom: .9375rem;
    color: gray;
    font-size: 12px;
}

footer .right {
    margin: .3125rem;
}

footer .right div .fa-solid {
    color: white;
    margin: .3125rem;
}

footer .right .progress-bar {
    border: .125rem solid gray;
    width: 3.125rem;
}