/*
------
Reset
------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
------
Common
------
*/

.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*
------
Header
------
*/

#upgrade {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#upgrade .container {
    height: 5.625rem;
}

#upgrade .container button {
    border: .0625rem solid white;
    padding: .9375rem 2.1875rem;
    border-radius: 2.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    margin-right: .625rem;
}

/*
------
Main
------
*/

#sidebar {
    background-color: black;
}

#sidebar .container {
    height: 100vh;
    padding: .625rem;
}

#sidebar .container .top-sidebar div {
    margin-bottom: .625rem;
    width: 1.5625rem;
}

#sidebar .container .bottom-sidebar {
    margin-bottom: 6.25rem;
}

#top-main {
    background-color: #141922;
}

#top-main .container {
    overflow: auto;
    height: 100vh;
    margin: 6.875rem 1.875rem 6.875rem 1.875rem;
}

#top-main .container div ul {
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2.8125rem;
    gap: 1.25rem;
}

#top-main .container div ul li {
    color: gray;
    text-align: center;
    font-size: .8125rem;
}

.song h2 {
    margin-left: .625rem;
    color: white;
    margin-bottom: 2.1875rem;
    margin-top: 2.1875rem;
}

.col {
    width: calc(100% / 2);
    padding: .625rem;
    text-align: center;
    font-size: .8125rem;
}

.col div img {
    width: 100%;
    margin-bottom: 1.25rem;
}

.col h3 {
    color: white;
}

strong {
    color: gray;
    font-size: .625rem;
}



.col div img.einaudi,
.col div img.lana {
    border-radius: 50%;
    object-fit: cover;
}

/*
------
Footer
------
*/

footer {
    background-color: #282828;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

footer .container {
    height: 5.625rem;
}

footer .container .left div img {
    height: 1.875rem;
    width: 1.875rem;
    margin-left: .3125rem;
}

footer .container .left .desctiption-song {
    color: white;
    line-height: .75rem;
    margin-left: .625rem;
    font-size: .75rem;
}

footer .container .left .fa-regular {
    color: gray;
    margin-left: 1.25rem;
}

footer .container .center div .fa-solid {
    font-size: 1.25rem;
    color: white;
    padding: .9375rem .9375rem 0 .9375rem;
}

footer .container .center div .fa-regular {
    font-size: 2.1875rem;
    color: white;
    padding: .625rem;
}

footer .container .center .progress-bar {
    height: .25rem;
    appearance: none;
    width: 80%;
    margin: .125rem;
    border-radius: .5rem;
    background-color: #5e5e5e;
}

footer .container .center .container-p-b{
    align-items: center;
    padding-bottom: .9375rem;
}

footer .container .right {
    margin: .3125rem;
}

footer .container .right div .fa-solid {
    color: white;
    margin: .3125rem;
}

footer .container .right .progress-bar {
    border: .125rem solid gray;
    width: 3.125rem;
}